body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}

h1, h2 {
    text-align: center;
}

form#taskForm, #audioTugas {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    max-width: 500px;
    margin: 10px auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

form#taskForm input, form#taskForm button, #audioTugas select, #audioTugas input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form#taskForm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form#taskForm button:hover {
    background-color: #45a049;
}

ul#taskList {
    list-style-type: none;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
}

ul#taskList li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul#taskList li.completed {
    background-color: #d4edda;
    text-decoration: line-through;
}

ul#taskList li button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

ul#taskList li button:hover {
    background-color: #da190b;
}